#container-camera {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 100%;
}

.buttons_container {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

#Take_Picture {
  background-color: #F5F5F5;
}

#Take_Picture fa {
  color: darkgray;
}

#Switch_Camera {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.image_preview {
  position: absolute;
  top: 0;
}
